* {
    box-sizing: border-box;
}
[class*="col-"] {
  float: left;
  padding: 15px
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row:after {
    content: "";
    clear: both;
    display: block;
}
/*****All above is for col ******/

body {
	margin: 0;
	padding: 0;
	font-family: "roboto";
}

@media screen and (min-width: 1024px) {
  /****Header + nav ****/
  
  .headerRow {
    background-color: #333333;
    box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.75);
    margin-bottom: 1em;
  }
  
  header h1 {
    color: #FF5A09;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    font-family: Raleway;
  }
  
    .menu_button {
    display: none;
  }
  
  nav {
    background-color: #333333;
    padding: 0%;
    margin: 0%;
    }
    
  nav ul {
    list-style-type: none;
    margin: auto;
    background-color: #333333;
    padding: 0px;
    float: right;
    }
    
  nav ul li {
    margin: 0;
    margin-top: .6em;
    display: inline-block;
    padding-left: .4em;
    padding-right: .4em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-left: thin solid #d9411e;
    }
    
  nav ul li a {
    text-decoration: none;
    font-size: 1.15em;
    color: #d9411e;
    display: block;
    font-family: "roboto";
    }
    
  nav ul li a:hover{
    color: white;
    }
  
  nav ul li a#active {
    color: white;
  }

  /****** main stuff ****/
  .main h2 {
    color:#FF9900;
    font-family: roboto;
    font-size: 1.9em;
    padding: 0;
	padding-bottom: .3em;
    margin: 0;
  }
  
  p {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
  }
  
  /**** Photos ****/
  figure.left {
    display: inline-block;
    float: left;
    max-width: 50%;
    padding: .5em;
	margin: .2em;
  }
  
  figure.right {
    display: inline-block;
    float: right;
    max-width: 50%;
    padding: .5em;
	margin: .2em;
  }
  
  figure img {
    vertical-align: top;
    width: 100%;
  }
  figure figcaption {
    text-align: center;
    font-size: .7em;
  }
  
  /****** Aside ****/
  aside {
    border-right: thin solid gray;
    padding: 0;
  }
  
  aside div.sideSection h2 {
    text-align: right;
    color:#FF9900;
    font-family: roboto;
    margin: 0;
    padding: 0;
  }
  
  aside div.sideSection ul li{
    display: block;
    text-align: right;
  }
  
  aside > div.sideSection > ul > li > a{
    text-decoration: none;
    color: #FF5A09;
    font-family: roboto;
    text-align: right;
  }
  
  aside > div.sideSection > ul> li > a:hover {
    color:#FF9900;
    padding: .2em;
  }
  /**** Footer ***/
  footer {
    font-size: .7em;
    font-family: roboto;
    background-color: #333333;
    color: #FF5A09;
    margin-top: 1em;
    -webkit-box-shadow: 0px -7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: 0px -7px 21px -9px rgba(0,0,0,0.75);
  }
    #stayDown {
	  height: 10%;
	}
	  #stayDownMore {
	  height: 33%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /****Header + nav ****/
  
  .headerRow {
    background-color: #333333;
    box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.75);
    margin-bottom: 1em;
  }
  
  .title {
    width: 20%;
  }
  
  .menu_button {
    display: none;
  }
  
  header h1 {
    color: #FF5A09;
    font-size: 1.8em;
    margin: 0;
    padding: 0;
    font-family: Raleway;
  }
  
  nav.navBar {
    background-color: #333333;
    padding-top: 2em;
    margin: auto;
    width: 80%;
    }
    
  nav ul {
    list-style-type: none;
    margin: auto;
    background-color: #333333;
    padding: 0px;
    float: right;
    }
    
  nav ul li {
    margin: 0;
    margin-top: .6em;
    display: inline-block;
    padding-left: .4em;
    padding-right: .4em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-left: thin solid #d9411e;
    }
    
  nav ul li a {
    text-decoration: none;
    font-size: 1em;
    color: #d9411e;
    display: block;
    font-family: "roboto";
    }
    
  nav ul li a:hover{
    color: white;
    }
  
  nav ul li a#active {
    color: white;
  }
  .BetweenNavAndRest {
    padding: .4em;
  }

  /****** main stuff ****/
  .main {
    width:70%;
    padding-top: 0;
  }
  
  .main h2 {
    color:#FF9900;
    font-family: roboto;
    font-size: 1.9em;
    padding: 0;
	padding-bottom: .3em;
    margin: 0;
  }
  
  p {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
  }
  
  .whiteSpaceLeft{
    display: none;
  }
  
  .whiteSpaceRight {
    display: none;
  }
  /**** Photos ****/
  figure.left {
    display: inline-block;
    float: left;
    max-width: 50%;
    padding: .5em;
	margin: .2em;
  }
  
  figure.right {
    display: inline-block;
    float: right;
    max-width: 50%;
    padding: .5em;
	margin: .2em;
  }
  
  figure img {
    vertical-align: top;
    width: 100%;
  }
  figure figcaption {
    text-align: center;
    font-size: .7em;
  }
  
  /****** Aside ****/
  aside.sideBar {
    border-right: thin solid gray;
    padding: 0;
    padding-right: .5em;
    margin: auto;
    width: 30%;
    overflow: visible;
  }
  
  aside div.sideSection h2 {
    text-align: right;
    color:#FF9900;
    font-family: roboto;
    margin: 0;
    padding: 0;
  }
  
  aside div.sideSection ul li{
    display: block;
      text-align: right;
  }
  
  aside > div.sideSection > ul > li > a{
    text-decoration: none;
    color: #FF5A09;
    font-family: roboto;
     text-align: right;
  }
  
  aside > div.sideSection > ul> li > a:hover {
    color:#FF9900;
    padding: .2em;
  }
  /**** Footer ***/
  footer {
    font-size: .7em;
    font-family: roboto;
    background-color: #333333;
    color: #FF5A09;
    margin-top: 1em;
    -webkit-box-shadow: 0px -7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: 0px -7px 21px -9px rgba(0,0,0,0.75);
  }
  
  #stayDown {
	  height: 10%;
  }
	  #stayDownMore {
	  height: 33%;
	  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  /****Header + nav ****/
  
  .headerRow {
    background-color: #333333;
    box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.75);
    margin-bottom: .5em;
  }
  
  .title {
    padding-bottom: 0;
    padding-right: 0;
    margin: 0;
    float: left;
    width: 72%;
  }
  
  header h1 {
    color: #FF5A09;
    font-size: 1.8em;
    margin: 0;
    padding: 0;
    font-family: Raleway;
    position: relative;
    z-index: 1;
  }
  
  nav.navBar {
    float: right;
  }
  
#navigation {
    padding: 20px;
    background-color: #333333;
    color: #FF9900;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
}
  
#navigation ul {
    display: none;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
}
#navigation ul.expanded {
    display: block;
}
#navigation li a {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #666;
    font-size: 1.2em;
    color: #FF9900;
    text-decoration: none;
}
  
#navigation li a#active {
  color: white;
}
  
.menu_button {
    display: block;
    text-align: right;
    color: #FF9900;
    text-decoration: none;
    padding-top: 3px;
}
.menu_button:hover {
    color: #58cbdb;
    text-decoration: none;
}
  
  .BetweenNavAndRest {
    padding: .4em;
  }

  /****** main stuff ****/
  .main {
    width:100%;
    padding-top: 0;
  }
  
  .main h2 {
    color:#FF9900;
    font-family: roboto;
    font-size: 1.9em;
    padding: 0;
    margin: 0;
	padding-bottom: .3em;
  }
  
  p {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
  }
  
  .whiteSpaceLeft{
    display: none;
  }
  
  .whiteSpaceRight {
    display: none;
  }
  /**** Photos ****/
  figure.left {
    display: inline-block;
    float: left;
    max-width: 100%;
    padding: 0;
	margin: 0;
	padding-right: .5em;
  }
  
  figure.right {
    display: inline-block;
    float: right;
    max-width: 100%;
    padding: 0;
	margin: 0;
  }
  
  figure img {
    vertical-align: top;
    width: 100%;
  }
  figure figcaption {
    text-align: center;
    font-size: .7em;
  }
  
  /****** Aside ****/
  aside.sideBar {
    margin: auto;
    width: 100%;
  }
  
  aside div.sideSection {
    width: 50%;
    float: left;
    padding: 0;
    margin: 0;
  }
  
  aside div.sideSection h2 {
    color:#FF9900;
    font-family: roboto;
    margin: 0;
    padding: 0;
  }
  
  aside div.sideSection ul li{
    display: block;
    margin: 0;
    padding: 0;
  }
  
  .sideBarMenu {
    display: none;
  }
  aside > div.sideSection > ul > li > a{
    text-decoration: none;
    color: #FF5A09;
    font-family: roboto;
    text-align: left;
    font-size: 1.15em;
  }
  
  aside > div.sideSection > ul> li > a:hover {
    color:#FF9900;
    padding: .1em;
  }
  
  /**** Footer ***/
  footer {
    font-size: .7em;
    font-family: roboto;
    background-color: #333333;
    color: #FF5A09;
    margin-top: 1em;
    -webkit-box-shadow: 0px -7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: 0px -7px 21px -9px rgba(0,0,0,0.75);
  }
}

@media screen and (max-width: 479px) {
  /****Header + nav ****/
  
  .headerRow {
    background-color: #333333;
    box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 18px -4px rgba(0,0,0,0.75);
    margin-bottom: .5em;
  }
  
  .title {
    padding-bottom: 0;
    padding-right: 0;
    margin: 0;
    float: left;
    width: 72%;
  }
  
  header h1 {
    color: #FF5A09;
    font-size: 1.8em;
    margin: 0;
    padding: 0;
    font-family: Raleway;
    position: relative;
    z-index: 1;
  }
  
  nav.navBar {
    float: right;
  }
  
#navigation {
    padding: 20px;
    background-color: #333333;
    color: #FF9900;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
}
  
#navigation ul {
    display: none;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
}
#navigation ul.expanded {
    display: block;
}
#navigation li a {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #666;
    font-size: 1.2em;
    color: #FF9900;
    text-decoration: none;
}
  
#navigation li a#active {
  color: white;
}
  
.menu_button {
    display: block;
    text-align: right;
    color: #FF9900;
    text-decoration: none;
    padding-top: 3px;
}
.menu_button:hover {
    color: #58cbdb;
    text-decoration: none;
}
  
  .BetweenNavAndRest {
    padding: .4em;
  }

  /****** main stuff ****/
  .main {
    width:100%;
    padding-top: 0;
  }
  
  .main h2 {
    color:#FF9900;
    font-family: roboto;
    font-size: 1.9em;
    padding: 0;
    margin: 0;
	padding-bottom: .3em;
  }
  
  p {
    padding: 0;
    margin: 0;
    font-size: 1.2em;
  }
  
  .whiteSpaceLeft{
    display: none;
  }
  
  .whiteSpaceRight {
    display: none;
  }
  /**** Photos ****/
  figure.left {
    display: inline-block;
    float: left;
    width: 100%;
	padding: 0;
	margin: 0;
  }
  
  figure.right {
    display: inline-block;
    float: right;
    max-width: 100%;
	padding: 0;
	margin: 0;
  }
  
  figure img {
    vertical-align: top;
    width: 100%;
  }
  figure figcaption {
    text-align: center;
    font-size: .7em;
  }
  
  /****** Aside ****/
  aside.sideBar {
    margin: auto;
    width: 100%;
  }
  
  aside div.sideSection {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
  }
  
  aside div.sideSection h2 {
    color:#FF9900;
    font-family: roboto;
    margin: 0;
    padding: 0;
  }
  
  aside div.sideSection ul li{
    display: block;
    margin: 0;
    padding: 0;
  }
  
  .sideBarMenu {
    display: none;
  }
  aside > div.sideSection > ul > li > a{
    text-decoration: none;
    color: #FF5A09;
    font-family: roboto;
    text-align: left;
    font-size: 1.15em;
  }
  
  aside > div.sideSection > ul> li > a:hover {
    color:#FF9900;
    padding: .1em;
  }
  
  /**** Footer ***/
  footer {
    font-size: .7em;
    font-family: roboto;
    background-color: #333333;
    color: #FF5A09;
    margin-top: 1em;
    -webkit-box-shadow: 0px -7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: 0px -7px 21px -9px rgba(0,0,0,0.75);
  }
}


/****** IPhones *****/
