body{
	margin: 0;
	padding: 0;
	font-size:15px;
	background-color:#000000;
	background-image: url("resources/background.jpg");
}

#wrapper {
	width:75%;
	margin: 0 auto;
	background-color: white;
	border-radius: 25px 25px 25px 25px;
}

div.main {
	background-color: 	#B0B0B0;
	margin: 0px 0px 0px 0px;
	float: right;
	width: 73%;
	border-radius: 0px 0px 25px 25px;
	padding: 1em;
	font-family: "Arial";
}

aside {
	background-color: 	#B0B0B0;
	margin: 0px 10px 0px 0px;
	float: left;
	width: 22%;
	border-radius: 0px 0px 25px 25px;
	padding: 1em;
	font-family: "Arial";
}

div.center {
	background-color: 	#B0B0B0;
	margin: 0px 10px 0px 0px;
	float: left;
	width: 90%;
	border-radius: 0px 0px 25px 25px;
	padding: 1em;
	font-family: "Arial";
}

header h1 {
	color: #aaa;
	background-color: #000000;
	font-family: "Arial";
	font-size: 50px;
	margin: 0;
	padding: 20px;
	border-radius: 23px 23px 0px 0px;
	
}

nav {
	background-color: #000000;
	box-shadow:5px 5px 5px #01111;
	margin: 0;
	overflow: hidden;
}

nav ul{
	margin: 0;
	padding: 0;
	float: left;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
}

nav > ul > li > a {
	color: #aaa;
	background-color: #000000;
	display: block;
	line-height: 3em;
	padding: .3em .5em .3em .5em;
	text-decoration: none;
	font-family: "Arial";
	font-size: 20px;
}

a:hover {
	background-color: #222;
}

p{
	font-size: 15px;
	font-family: "Arial";
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 70px;
	width: 100%;
}

