body{
	margin: 0;
	padding: 0;
	font-size:15px;
	background-color:#000000;
	background-image: url("resources/background.png");
    background-attachment: fixed;
}

#headerwrapper {
	width:1340px;
	margin: 0 auto;
}

header {
	background-color: black;
	overflow:auto;
	border-radius: 0px 0px 25px 25px;	
}
header h1 {
	color: #FF5A09;
	font-family: "Arial";
	font-size: 50px;
	margin: 0;
	padding: 20px 20px 15px 20px;
	float: left;
}

nav {
	box-shadow:5px 5px 5px #01111;
	padding-top: 26px;
	margin: 0;
	overflow: hidden;
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	float: left;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
}

nav > ul > li > a {
	color: white;	
	display: block;
	line-height: 3em;
	padding: .3em .5em .3em .5em;
	text-decoration: none;
	font-family: "Arial";
	font-size: 20px;
}

a:hover {
	background-color: #6E6E6E;
	color:#FF9900;
	border-radius: 5px 5px 5px 5px;
}

#bodywrapper {
	width:1240px;
	margin: 0 auto;
}

div.main {
	background-color: #b8b8b8;
	margin: 0px 0px 0px 0px;
	float: right;
	width: 840px;
	border-radius: 0px 0px 25px 25px;
	padding: 1em;
	font-family: "Arial";
	-webkit-box-shadow: 10px 10px 36px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 36px -8px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 36px -8px rgba(0,0,0,0.75);
}

aside {
	background-color: #b8b8b8;
	margin: 0px 10px 0px 0px;
	float: left;
	width: 320px;
	border-radius: 0px 0px 25px 25px;
	padding: 1em;
	font-family: "Arial";
	-webkit-box-shadow: 10px 10px 36px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 36px -8px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 36px -8px rgba(0,0,0,0.75);
}

div.center {
	background-color: 	#B0B0B0;
	margin: 0 auto;
	width: 1240px;
	border-radius: 0px 0px 25px 25px;
	padding: 1em 0;
	font-family: "Arial";
}

div.center h1 {
		text-align: center;
}

p{
	font-size: 15px;
	font-family: "Arial";
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 70px;
	width: 100%;
}

