body{
	margin: 0;
	padding: 0;
	font-size:15px;
	background-color:#000000;
	background-image: url("resources/background.png");
    background-attachment: fixed;
}

#headerwrapper {
	width:1260px;
	margin: 0 auto;
}

header {
	background-image: url("resources/header.png");
	overflow:auto;
	border-radius: 0px 0px 10px 10px;
	box-shadow:5px 5px 5px #01111;
}
header h1 {
	color: #FF5A09;
	font-size: 46px;
	margin: 0;
	padding: 20px 20px 15px 20px;
	float: left;
	font-family: ubuntu;
}

h1 {
	color: #FF9900;
}
nav {
	padding-top: 26px;
	margin: 0;
	overflow: hidden;
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	float: left;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
}

nav > ul > li > a {
	color: white;	
	display: block;
	line-height: 3em;
	padding: .3em .5em .3em .5em;
	text-decoration: none;
	font-family: "Arial";
	font-size: 20px;
}

a:hover {
	background-color: #6E6E6E;
	color:#FF9900;
	border-radius: 5px 5px 5px 5px;
}

#bodywrapper {
	width:1080px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-bottom: 5px;
	overflow: auto;
}

div.main {
	margin: 0px;
	float: left;
	width: 740px;
	padding: 1em;
	background-image: url("resources/body.png");
	-webkit-box-shadow: 10px 10px 31px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 31px -10px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 31px -10px rgba(0,0,0,0.75);
	border-radius: 0px 0px 5px 0px;
}

aside {
	margin: 0px 10px 0px 0px;
	float: left;
	width: 150px;
	padding: 1em;
	color: #FF5A09;
}

div.center {
	background-color: #B0B0B0;
	margin: 0 auto;
	width: 1080px;
	padding: 1em 0;
	font-family: "Arial";
}

div.center h1 {
		text-align: center;
}

footer {
	bottom: 0;
	left: 0;
	padding-left: 30px;
	padding-bottom: 0px;
	height: 70px;
	width: 100%;
}

